@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  /* UI utilities */
  .input{@apply border rounded-xl px-3 py-2 bg-white text-slate-800 border-slate-300 focus:outline-none focus:ring-2 focus:ring-violet-200;}
  .btn{@apply inline-flex items-center justify-center rounded-xl px-4 py-2 bg-violet-600 text-white hover:bg-violet-700;}
  .btn-outline{@apply inline-flex items-center justify-center rounded-xl px-4 py-2 border border-violet-600 text-violet-700 hover:bg-violet-50;}
  .card{@apply rounded-2xl border border-slate-200 bg-white p-4;}
}

@layer utilities {
  @keyframes gradientMove {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
  }
  .animated-hero-bg {
    background-image: linear-gradient(
    90deg,
    rgba(139, 92, 246, 0.15),   /* violet-500 */
    rgba(168, 85, 247, 0.15),   /* purple-500 */
    rgba(192, 132, 252, 0.12)   /* purple-400 */
  );
    background-size: 200% 200%;
    animation: gradientMove 12s ease infinite;
  }
}
